{% extends "base.html" %}
{% set show_footer = true %}
{% set active_tab = 'account' %}
{% set header_mode = 'back' %}
{% set header_title = '検索' %}
{% set back_url = url_for('admin.account_list') %}
{% block title %}アカウント検索 | y-coco{% endblock %}

{% block content %}
{% from "_macros.html" import account_card %}
<form action="{{ url_for('admin.account_search') }}" method="get" class="search-form">
  <input type="text" name="q" maxlength="100" placeholder="キーワードを入力…" value="{{ query or '' }}">
  <button type="submit" class="btn">検索する</button>
</form>

{% if results %}
  <div style="margin-top:20px">
    {% for a in results %}
      {{ account_card(a) }}
    {% endfor %}
  </div>
{% endif %}
{% endblock %}