{% extends "base.html" %}
{% set show_footer = true %}
{% set active_tab = 'event' %}
{% set header_mode = 'search' %}
{% set search_url = url_for('event_search.search') %}
{% set post_url = url_for('user.event_post_view') %}

{% block content %}
  {% from "_macros.html" import post_card %}
  {% if events %}
    {% for event in events %}
      {{ post_card(event, url_for('event_detail.show', event_id=event.id), with_image=True) }}
    {% endfor %}
  {% else %}
    <p class="empty-message">{{ message }}</p>
  {% endif %}
{% endblock %}