<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>y-coco</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="logo"><a href="{{ url_for('index') }}">y-coco</a></h1>
            <nav class="nav-menu">
                <a href="{{ url_for('index') }}">トップ</a>
                {% if session.get('user') %}
                    <a href="{{ url_for('user.myaccount') }}">マイページ</a>
                    <a href="{{ url_for('logout') }}">ログアウト</a>
                {% else %}
                    <a href="{{ url_for('login') }}">ログイン</a>
                    <a href="{{ url_for('user.register') }}">新規登録</a>
                {% endif %}
            </nav>
        </div>
    </header>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <p class="flash-message">{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <main>