{% extends "base.html" %}
{% set show_footer = true %}
{% set active_tab = 'event' %}
{% set header_mode = 'back' %}
{% set back_url = url_for('event_list.index') %}
{% block title %}{{ event.title if event else 'イベント' }} | y-coco{% endblock %}

{% block content %}
{% if event %}
  <div class="right-align">
    <a class="delete-link danger"
       href="{{ url_for('admin.event_delete_confirm', event_id=event.id) }}">投稿を削除</a>
  </div>
  {% include "event_body.html" %}
  {% set kind = 'event' %}
  {% set post = event %}
  {% set admin_view = true %}
  {% include "comment_section.html" %}
{% else %}
  <p class="empty-message">{{ message }}</p>
{% endif %}
{% endblock %}