{% extends "base.html" %}
{% from "_macros.html" import avatar %}
{% set active_tab = 'account' %}
{% set show_footer = True %}
{% block title %}マイアカウント | y-coco{% endblock %}

{% block content %}
<div class="account-top">
  {{ avatar(imagepath, 'lg') }}
  <div class="name">ユーザー名:{{ username }}</div>
</div>

<ul class="menu-list">
  <li><a href="{{ url_for('user.profile_edit') }}">プロフィール変更</a></li>
  <li><a href="{{ url_for('user.password_change') }}">パスワード変更</a></li>
  <li><a href="{{ url_for('user.my_posts') }}">過去の投稿を見る</a></li>
  <li><a href="{{ url_for('logout.logout') }}">ログアウト</a></li>
</ul>
{% endblock %}