{% extends "base.html" %}
{% from "_macros.html" import fmt %}
{% set show_footer = true %}
{% set active_tab = 'account' %}
{% set header_mode = 'back' %}
{% set back_url = url_for('user.myaccount') %}
{% block title %}通知 | y-coco{% endblock %}
{% block content %}
{% if notification_list %}
  {% for n in notification_list %}
    {% set href = url_for('event_detail.show', event_id=n.post_id) if n.post_type == 1
                  else url_for('kh_detail.show', knowhow_id=n.post_id) %}
    <a class="card notice card-link {{ 'read' if n.read_flg else 'unread' }}" href="{{ href }}">
      <div>{{ n.sender_name }}さんが「{{ n.post_title }}」にコメントしました</div>
      <div class="when">{{ fmt(n.created_at) }}</div>
    </a>
  {% endfor %}
{% else %}
  <p class="empty-message">{{ display_msg }}</p>
{% endif %}
{% endblock %}