{% extends "base.html" %}
{% from "_macros.html" import csrf %}
{% set header_mode = 'back' %}
{% set back_url = url_for('user.myaccount') %}
{% set active_tab = 'account' %}
{% set show_footer = True %}
{% block title %}パスワード変更 | y-coco{% endblock %}

{% block content %}
<form method="post" class="form-card">
  {{ csrf() }}
  <label for="nowpass">現在のパスワード</label>
  <input id="nowpass" name="nowpass" type="password" maxlength="64" required
         placeholder="パスワードを入力…" autocomplete="current-password">

  <label for="newpass">新しいパスワード</label>
  <input id="newpass" name="newpass" type="password" maxlength="64" required
         placeholder="パスワードを入力…" autocomplete="new-password">

  <label for="repass">パスワード再入力</label>
  <input id="repass" name="repass" type="password" maxlength="64" required
         placeholder="パスワードをもう一度入力…" autocomplete="new-password">

  <button type="submit" class="btn">完了</button>
</form>
{% endblock %}