{% extends "base.html" %}
{% set show_footer = true %}
{% set active_tab = 'knowhow' %}
{% set header_mode = 'search' %}
{% set show_back = true %}
{% set search_url = url_for('kh_search.search') %}
{% block title %}ノウハウ一覧 | y-coco{% endblock %}

{% block content %}
  {% from "_macros.html" import post_card %}
  {% if knowhows %}
    {% for kh in knowhows %}
      {{ post_card(kh, url_for('kh_detail.show', knowhow_id=kh.id)) }}
    {% endfor %}
  {% else %}
    <p class="empty-message">{{ message }}</p>
  {% endif %}
{% endblock %}