{% extends "base.html" %}
{% from "_macros.html" import confirm_buttons, comment_card %}
{% set header_mode = 'back' %}
{% set back_url = url_for('kh_detail.show', knowhow_id=comment.post_id) %}
{% block title %}コメントの削除 | y-coco{% endblock %}

{% block content %}
<div class="confirm-box"><p>このコメントを<br>削除しますか?</p></div>
{{ comment_card(comment) }}
{{ confirm_buttons(url_for('admin.kh_comment_delete', comment_id=comment.id),
                   url_for('kh_detail.show', knowhow_id=comment.post_id)) }}
{% endblock %}