{% extends "base.html" %}
{% set show_footer = true %}
{% set active_tab = 'knowhow' %}
{% set header_mode = 'back' %}
{% set back_url = url_for('kh_list.index') %}
{% block title %}{{ knowhow.title if knowhow else 'ノウハウ' }} | y-coco{% endblock %}

{% block content %}
{% if knowhow %}
  {% include "kh_body.html" %}
  {% set kind = 'knowhow' %}
  {% set post = knowhow %}
  {% set admin_view = true %}
  {% include "comment_section.html" %}

  <div style="margin-top:22px">
    <a class="btn danger" href="{{ url_for('admin.kh_delete_confirm', knowhow_id=knowhow.id) }}">このノウハウを削除する</a>
  </div>
{% else %}
  <p class="empty-message">{{ message }}</p>
{% endif %}
{% endblock %}